/* fontawesome icons */
@import url("./all.min.css"); /* Google Noto Fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,900&display=swap&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}
/* reset link style */
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
/* reset text style */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
/* reset button style */
button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
}
/* reset list style */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* navbar */
.navbar {
  background-color: #fff;
  border-bottom: solid #eee 1px;
  width: 100vw;
  height: 3rem;
  position: fixed;
  top: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  height: 3rem;
  line-height: 3rem;
}

.nav-link {
  display: block;
}
/* menubar */
.menubar {
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  transition: all 200ms ease;
  background-color: #fff;
}

.menubar:hover {
  border-bottom: solid #eee 1px;
}

.menubar-left {
  text-align: left;
}

.menubar-left:hover {
  height: 12rem;
  border-right: solid #eee 1px;
}

.menubar-right {
  text-align: right;
}

.menubar-right:hover {
  height: 18rem;
  border-left: solid #eee 1px;
}

.menubar-menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  height: 3rem;
  transition: 200ms;
}

.menu-item:hover {
  background-color: #eee;
}

.menu-link {
  padding: 0 1rem;
  display: block;
}

/* event card */
.event-card {
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid #eee 1px;
  border-radius: 1rem;
}

.event-description-short {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
}

.event-icon {
  font-size: 2rem;
}

.event-description-actions {
  display: grid;
}
/* gym page */
.gym-list-item {
  display: grid;
  grid-template-columns: 15rem 15rem;
  height: 3rem;
}

.gym-list-item:hover > .gym-list-title h3 {
  background-color: #eee;
}

.gym-list-item > .gym-detail {
  opacity: 0;
}

.gym-list-item:hover > .gym-detail {
  opacity: 1;
}

.gym-list-title h3 {
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.5rem;
  line-height: 3rem;
  transition: all 200ms ease;
}

.gym-detail {
  border-radius: 1rem;
  border: solid #eee 1px;
  padding: 1rem;
  transition: all 200ms ease;
}

.gym-detail-timetable {
  display: grid;
  grid-template-columns: 8rem 8rem;
  margin-bottom: 1rem;
}
/* chat page */
.chat-short-container {
  border-radius: 1rem;
  border: solid #eee 1px;
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 30rem;
  margin-bottom: 1rem;
  column-gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.chat-short-container span {
  display: flex;
  align-items: center;
}

.chat-short-icon {
  font-size: 3rem;
  width: 4rem;
  justify-content: center;
}
/* app.js */
.header-color {
  background: #f0c27b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b1248, #f0c27b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b1248, #f0c27b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.navbar p {
  color: white;
}
/* landingpage.js */
.page {
  background: #f0c27b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b1248, #f0c27b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b1248, #f0c27b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  color: white;
}
