@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,900&display=swap&subset=chinese-traditional");

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", "Roboto", "Helvetica Neue", sans-serif;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  margin-left: 5rem;
}

.navbar {
  background-color: #eeeeee;
}

.nav-item {
  background-color: #dddddd;
  transition: 600ms;
}

.nav-item:hover {
  background-color: #ffdddd;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  transition: width 200ms ease;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
}

.navbar:hover {
  width: 16rem;
}
